@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .light {
    --background: #f9f9ff;
    --foreground: #111111;

    --background-container: #ededf4;

    --card: #f9f9ff;
    --card-foreground: #1a1b20;

    --popover: #e8e7ee;
    --popover-foreground: #1a1b20;

    --primary: #435e91;
    --primary-foreground: #ffffff;

    --secondary: #bec6dc;
    --secondary-foreground: #ffffff;

    --muted: #d9d9e0;
    --muted-foreground: #44474f;

    --accent: #565e71;
    --accent-foreground: #ffffff;

    --destructive: #ba1a1a;
    --destructive-foreground: #ffffff;

    --border: #74777f;
    --input: #44474f;
    --ring: #c4c6d0;

    --radius: 0.5rem;
  }

  .dark {
    --background: #111318;
    --foreground: #e2e2e9;

    --background-container: #1e2025;

    --card: #111318;
    --card-foreground: #e2e2e9;

    --popover: #282a2f;
    --popover-foreground: #e2e2e9;

    --primary: #adc7ff;
    --primary-foreground: #0f2f60;

    --secondary: #debcdf;
    --secondary-foreground: #402843;

    --muted: #111318;
    --muted-foreground: #c4c6d0;

    --accent: #bec6dc;
    --accent-foreground: #283041;

    --destructive: #ffb4ab;
    --destructive-foreground: #690005;

    --border: #8e9099;
    --input: #c4c6d0;
    --ring: #44474f;
  }
}

@layer base {
  * {
    @apply border-border bg-background;
  }
  body {
    @apply bg-background-container text-foreground;
  }

  h1 {
    font-size: 48px;
    font-weight: 700;
  }

  h2 {
    font-size: 32px;
    font-weight: 700;
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
  }

  h4 {
    font-size: 20px;
    font-weight: 700;
  }
}

*:focus-visible {
  @apply outline-none;
}
